<h1 class="short-section-title"><%= deck.name %></h1>

<div class="new-slide">
  <div class="slide-edit-area">
    <% form_tag "/decks/#{deck.id}/slides", :method => 'post' do %>
      <%= text_area_tag :content, :class => 'content-area' %>
      <div class="button-bar">
        <div class="close-button-wrapper">
          <a href="#" class="button big">Close</a>
        </div>
        <div class="preview-save-button-wrapper">
          <input type="submit" class="button big primary">
        </div>
      </div>
    <% end %>
  </div>
</div>

<% unless deck.slides.empty? %>
  <%= erb 'slides/list', :locals => {:deck => deck} %>
<% end %>
