@import 'reset.scss';
@import 'typography.scss';
@import 'github_buttons.scss';
@import 'notifications.scss';

.home {
  text-align: center;
}

.sign-in-button-wrapper {
  padding-top: 10px;
}

.header {
  width: 100%;
  height: 40px;
  background-image: linear-gradient(bottom, rgb(10,9,10) 10%, rgb(33,36,36) 55%);
  background-image: -o-linear-gradient(bottom, rgb(10,9,10) 10%, rgb(33,36,36) 55%);
  background-image: -moz-linear-gradient(bottom, rgb(10,9,10) 10%, rgb(33,36,36) 55%);
  background-image: -webkit-linear-gradient(bottom, rgb(10,9,10) 10%, rgb(33,36,36) 55%);
  background-image: -ms-linear-gradient(bottom, rgb(10,9,10) 10%, rgb(33,36,36) 55%);
}


.paper {
  width: 700px;
  margin: 0 auto;
  padding: 10px 50px 50px 50px;
  background: #FFF;
  border: 1px solid #B8B8B8;
  border-top: 0px;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.3);

  p {
    display: inline-block;
    width: 400px;
  }
}

.footer {
  width: 700px;
  margin: 0 auto;
  text-align: right;
  padding-top: 10px;
  a {
    color: #B8B8B8;
    text-decoration: none;
  }
}

body {
  vertical-align: baseline;
  background: #F9F9FA;
  color: #333;
  h1 {
    font-weight: 700;
  }
  ul {
    list-style-type: none;
  }

  a, a:visited {
    color: #0e7cc9;
    &:hover {
      color: #011e37;
    }
  }
}
.control-bar {
  padding-top: 10px;
  text-align: right;
  a, a:link, a:visited {
    color: #383838;
    text-decoration: none;
  }
  a:hover {
    color: #CCC;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 569px) {
  h1 {
    font-size: 24px;
    padding-bottom: 10px;
  }
  .wrap {
    width: 300px !important;
    padding: 0px 10px 0px 10px;
  }
}
