@import 'reset.scss';
@import 'typography.scss';
@import 'github_buttons.scss';
@import 'notifications.scss';

.deck-list {
  list-style-type: none;
  li {
    text-align: center;
    display: inline-block;
    position: relative;
    width: 172px;
    height: 150px;
    &:hover {
      a {
        color: #0E7CC9;
      }
      .deck {
        cursor: pointer;
        border-color: #B8B8B8;
        transform:rotate(-10deg);
        -ms-transform:rotate(-10deg);
        -moz-transform:rotate(-10deg);
        -webkit-transform:rotate(-10deg);
      }
      .one {
        transform:rotate(-5deg);
        -ms-transform:rotate(-5deg);
        -moz-transform:rotate(-5deg);
        -webkit-transform:rotate(-5deg);
      }
      .two {
        transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
      }
      .three {
        transform:rotate(5deg);
        -ms-transform:rotate(5deg);
        -moz-transform:rotate(5deg);
        -webkit-transform:rotate(5deg);
      }
    }
  }
  .deck {
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    background-color: #F9F9FA;
    border: 2px solid #F0F0F0;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
    color: #ABABAB;
    text-decoration: none;
    z-index: 1000;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    &.background {
      &.one {
        z-index: 999;
        top: 4px;
        left: 5px;
      }
      &.two {
        z-index: 998;
        top: 8px;
        left: 9px;
      }
      &.three {
        z-index: 997;
        top: 12px;
        left: 15px;
      }
    }
  }
}

.header {
  .branding {
    a {
      color: #FFF;
      text-decoration: none;
      &:hover {
        color: #F9F9FA;
      }
    }
  }
}

.slide-edit-area {
  margin-top: 20px;
  background-color: #F9F9FA;
  .content-area {
    width: 100%;
    box-sizing: border-box;
    border: 10px solid #F9F9FA;
    margin: 0;
    height: 200px;
    font-size: 18px;
    padding: 10px;
  }

  .button-bar {
    height: 40px;
    background-color: #F9F9FA;
    width: 100%;
    margin-top: -7px;
    .button {
      border: none;
    }
    .close-button-wrapper {
      float: left;
      padding-left: 10px;
    }
    .preview-save-button-wrapper {
      float: right;
      padding-right: 10px;
    }
  }
}

.home {
  text-align: center;
}

h1 {
  text-align: center;
  position: relative;
}

.back-link {
  position: absolute;
  top: 0px;
  left: 0px;
  a {
    text-decoration: none;
  }
}

.new-deck-button-wrapper {
  position: absolute;
  right: 50px;
  top: 53px;
  text-align: right;
  margin-top: 0px;
}

.new-slide-button-wrapper {
  position: absolute;
  right: 50px;
  top: 53px;
  text-align: right;
  margin-top: 0px;
}

.new-deck {
  input {
    width: 100%;
  }
  input[type=text] {
    box-sizing: border-box;
    height: 50px;
    padding-left: 10px;
    font-size: 18px;
    border: 0px;
    border: 1px dotted #ccc;
  }

  input[type=submit] {
    margin-top: 10px;
  }

  .button {
    height: 50px;
  }
}

.sign-in-button-wrapper {
  padding-top: 10px;
}

.header {
  width: 100%;
  height: 40px;
  background-image: linear-gradient(bottom, rgb(10,9,10) 10%, rgb(33,36,36) 55%);
  background-image: -o-linear-gradient(bottom, rgb(10,9,10) 10%, rgb(33,36,36) 55%);
  background-image: -moz-linear-gradient(bottom, rgb(10,9,10) 10%, rgb(33,36,36) 55%);
  background-image: -webkit-linear-gradient(bottom, rgb(10,9,10) 10%, rgb(33,36,36) 55%);
  background-image: -ms-linear-gradient(bottom, rgb(10,9,10) 10%, rgb(33,36,36) 55%);

  .header-wrap {
    width: 800px;
    margin: 0 auto;

    .branding {
      float: left;
      color: white;
      font-size: 20px;
      padding-top: 10px;
    }

    .user-info {
      float: right;
      display: inline-block;
      color: #A9A9A9;
      padding-top: 8px;
    }
  }
}


.paper {
  position: relative;
  width: 700px;
  margin: 0 auto;
  padding: 10px 50px 50px 50px;
  background: #FFF;
  border: 1px solid #B8B8B8;
  border-top: 0px;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.3);

  p {
    display: inline-block;
    width: 400px;
  }
}

.footer {
  width: 750px;
  margin: 0 auto;
  text-align: right;
  padding-top: 10px;

  .separator {
    border-right: 1px dotted #B8B8B8;
    padding-left: 10px;
    margin-right: 10px;
  }
  a {
    color: #B8B8B8;
    text-decoration: none;
    &.first {
    }
    &:visited {
      color: #B8B8B8;
    }
  }
}

body {
  vertical-align: baseline;
  background: #F9F9FA;
  color: #333;
  h1 {
    font-weight: 700;
    margin-bottom: 20px;
  }
  ul {
    list-style-type: none;
  }

  a, a:visited {
    color: #0e7cc9;
    &:hover {
      color: #011e37;
    }
  }
}
.control-bar {
  padding-top: 10px;
  text-align: right;
  a, a:link, a:visited {
    color: #383838;
    text-decoration: none;
  }
  a:hover {
    color: #CCC;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 569px) {
  h1 {
    font-size: 24px;
    padding-bottom: 10px;
  }
  .wrap {
    width: 300px !important;
    padding: 0px 10px 0px 10px;
  }
}
