.micro-slide {
  width: 126px;
  height: 120px;
  box-sizing: border-box;
  background-color: #F9F9FA;
  border: 2px solid #F0F0F0;
  border-radius: 5px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  z-index: 1000;
  p {
    padding-top: 0px;
    margin: 0px;
  }
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  overflow: hidden;
  position: relative;
  &:hover {
    .left-button {
      left: 5px;
    }
    .right-button {
      right: 5px;
    }
    .delete-button {
      top: 0px;
    }


    border-color: #B8B8B8;
    color: #5C5C5C;
  }
  code {
    background-color: #F9F9FA !important;
  }
  img {
    max-width: 100%;
  }
}

.slide {
  position: relative;

  border: 1px solid #E4E4E6;
  border-radius: 5px;
  width: 698px;
  height: 500px;
  $padding: 20px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.3);

  // Images

  img[alt='fullscreen'] {
    position: absolute;
    top: 0px;
    left: 0px;
  }

  img {
    max-width: 100%;
  }

  // Paragraphs

  p {
    margin: 0;
    padding: 5px $padding 5px $padding;
  }

  p, li, code {
    font-size: 18px;
    line-height: 18px * 1.3;
  }

  code {
    border-radius: 5px;
  }

  // Headers

  h1, h2, h3, h4, h5, h6 {
    padding-left: $padding;
    font-weight: bold;
    padding-top: 10px;
  }

  h1 {
    font-size: 73px;
    line-height: 73px * 1.3;
    margin-top:20px;
    margin: 0px 0px 0px 0px;
  }

  h2 {
    font-size: 56px;
    line-height: 56px * 1.3;
    margin: 0px 0px 0px 0px;
  }

  h3 {
    font-size: 43px;
    line-height: 43px * 1.3;
  }

  h4 {
    font-size: 33px;
    line-height: 33px * 1.3;
  }

  h5 {
    font-size: 25px;
    line-height: 25px * 1.3;
  }

  h6 {
    font-size: 18px;
    line-height: 18px * 1.3;
  }

  // Lists

  ul {
    $bullet-offset: 10px;
    padding-left: $padding + $bullet-offset;

    li:before { 
      content:"-"; 
      position:relative; 
      left: -1 * $bullet-offset;
    }
  }
}
