<h1 class="section-title"><%= name %></h1>
<span class="deck-action-buttons">
  <a href="/decks/<%= id %>/present/1" class="button big present-deck-button">Present</a>
  <a href="/decks/<%= id %>/slides/new" class="button big new-slide-button">New slide</a>
  <!-- placeholder for when undo delete functionality is added -->
  <!-- <a href="/decks/<%= id %>" class="button big undo-button">Undo delete</a> -->
</span>
<div class="slide-edit-container"></div>
<div class="slide-list-container"></div>
