<p class="outside-slide">
  You haven't created any yet. Go on, you know you want to.
</p>
<p class="outside-slide">
  <a href="/decks/new" class="button big new-deck-link">Create your first deck!</a>
</p>
