<a href="decks/<%= id %>/edit" class="deck-show-button">
  <div class="deck">
    <%= name %>
  </div>
  <div class="deck background one"></div>
  <div class="deck background two"></div>
  <div class="deck background three"></div>
</a>
