<h1 class="outside-slide">What should the deck be named?</h1>
<form>
  <input autocomplete="off" class="deck-name-input" type="text" />
  <input class="button big submit-button" value="Create it!" type="submit" />
</form>
