<h1><%= deck.name %></h1>
<span class="new-slide-button-wrapper">
  <a href="/decks/<%= deck.id %>/slides/new" class="button icon add big">Add slide</a>
</span>

<% if deck.slides.empty? %>
  <div class="notice inline-notification">
    <p>Make your first slide!</p>
    <p><a href="/decks/<%= deck.id %>/slides/new" class="button big">Create a slide</a></p>
  </div>
<% else %>
  <p>
  <% deck.slides.all.each do |slide| %>
    <%= link_to slide.number, "/slides/#{slide.id}/edit" %>
  <% end %>
  </p>
<% end %>
