<h1>Your decks</h1>

<% if decks.empty? %>
  <div class="notice inline-notification">
    <p>You haven't created any yet. Go on, you know you want to.</p>
    <p><a href="/decks/new" class="button big">Create your first deck!</a></p>
  </div>
<% else %>
  <p>
  <% decks.all.each do |deck| %>
    <%= link_to deck.name, "/decks/#{deck.id}" %>
  <% end %>
  </p>
  <p>
    <a href="/decks/new" class="button big">Create a new deck</a>
  </p>
<% end %>
