<h1>Your decks</h1>

<span class="new-deck-button-wrapper">
  <a href="/decks/new" class="button icon edit big">New deck</a>
</span>

<% if decks.empty? %>
  <div class="notice inline-notification">
    <p>You haven't created any yet. Go on, you know you want to.</p>
    <p><a href="/decks/new" class="button big">Create your first deck!</a></p>
  </div>
<% else %>
  <p>
    <ul class="deck-list">
    <% decks.all.each do |deck| %>
      <a href="/decks/<%= deck.id %>/edit" >
        <li class"deck-stack">
          <div class="deck">
            <%= deck.name %>
          </div>
          <div class="deck background one"></div>
          <div class="deck background two"></div>
          <div class="deck background three"></div>
        </li>
      </a>
    <% end %>
    </ul>
  </p>
<% end %>
