<%= template('deck_app') %>
<%= template('deck_icon') %>

<div id="deck"></div>

<script type="text/javascript">
  window.DeckApp = window.DeckApp || {};

  DeckApp.preloadData = {
    currentUserEmail: "<%= current_user.email %>"
  };
</script>

<!-- backbone -->
<script src='/javascripts/router.js'></script>
<script src='/javascripts/application.js'></script>
<script src='/javascripts/views/app_view.js'></script>
<script src='/javascripts/views/deck_icon_view.js'></script>

<script src='/javascripts/models/deck.js'></script>
<script src='/javascripts/collections/decks.js'></script>
