<div class="home">
  <h1 class="outside-slide">Make presentation slides in your browser</h1>

  <p class="outside-slide">Deck lets you make javascript powered slide decks with markdown without leaving your browser.</p>

  <p class="sign-in-button-wrapper outside-slide"><a href="/auth/google_oauth2" class="button big">Sign in using your Google account</a></p>
</div>
