<div id="deck"></div>

<script type="text/javascript">
  da             = {};
  da.models      = {};
  da.collections = {};
  da.views       = {};
  da.ui          = {};

  da.preloadData = {
    currentUserEmail: "<%= current_user.email %>"
  };
</script>

<script src='/assets/application.js'></script>
